.posts-wrapper
  .post
    .post-body
      .image-wrap
        = form_image_select(@post) #helper method to preview image if it exists
        -# = image_tag '', id: 'image-preview', class: 'img-responsive'
        = simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f|
          .row
            .col-md-12.text-center
              = f.error_notification
          .container-fluid
            .form-group.text-center
              %h4 Upload an image (this is required):
              = f.input :image, label: false, input_html: { onChange: 'loadFile(event)' }
            .form-group.text-center
              = f.input :caption, label: false do
                = f.input_field :caption, class: "form-control", placeholder: "Caption this..."
            .form-group.text-center
              = f.button :submit, class: "btn btn-success"
